@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
}

:root {
  --primaria: #d4af37; /* Dourado Clássico: para títulos, botões e destaques. */
  --secundaria: #f0e68c; /* Dourado Claro (Khaki): para hovers e detalhes sutis. */
  --escuro: #121212; /* Quase Preto: cor de fundo principal, suave para os olhos. */
  --maisescuro: #0a0a0a; /* Preto Profundo: para o rodapé ou header, criando contraste. */
  --claro: #eaeaea; /* Branco Suave: cor principal do texto e parágrafos. */
  --vidro: rgba(255, 255, 255, 0.05);
}

  body * {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  /* Quando visível */
  .visivel {
    opacity: 1;
    transform: translateY(0);
  }



html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}



header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 10px;
  background-color: rgba(11, 11, 11, 0.8);
  z-index: 1;
}

.mobile-menu-icon {
  display: none;
}

.logo {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.logo-img {
  width: 40%;
  height: auto;
}

.logo-text {
  color: #fff;
  font-size: 2rem;
}


nav {
  width: 100%;
  
}

ul {
  width: 100%;
  display: flex;
  align-items: flex-start; /* alinha no topo */
  margin-top: 10px;        /* novo */
  justify-content: space-between;
  top: 30px !important; /* distância de 50px do topo */
   position: absolute; /* ou fixed, dependendo do efeito desejado */


}



a {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

a:hover {
  cursor: pointer;
  transition: ease 5s;
  background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 5s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
}

@keyframes brilho-dourado {
  from {
    /* Começa com a posição do fundo na esquerda */
    background-position: 200% center;
  }
  to {
    /* Termina com a posição do fundo na direita */
    background-position: 0% center;
  }
}
.navegacao {
  height: 100px;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(11, 11, 11, 0.8)
}



#menu-icon {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.modal {
  width: 100%;
  height: 130vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}



.home-container {
  background-image: url("./assets/471bec69-c827-445c-935e-de08a1f712d6.jpg");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
}

.presentation-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 250px;
  padding: 10px;
  color: #fff;
  z-index: 1;
}

.presentation-container h3 {
  letter-spacing: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  
}

.presentation-container h1 {
  transition: ease 5s;
  font-size: 5rem;
  text-align: center;
}

.presentation-container span {
  background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 1s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;

}

.presentation-container p {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: ease 3s;
}

/* From Uiverse.io by TimTrayler */ 
.buton {
  margin-top: 70px;
  --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
  --accent: #c8b050;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
    width: 20rem;
    height: 3rem;
 
}

.buton:hover {
  box-shadow: var(--hover-shadows);
}

.buton:active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}



.destaks-container {
  width: 100%;
  height: 300px;
  padding: 0 100px;
  position: absolute;
  top: 115vh;
}

.destaks-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  color: #fff;
  padding: 0 110px;
}

#square-1 {

background: linear-gradient(120deg,
    #000000 0%,       /* preto puro */
    #2e353d 30%,      /* cinza escuro */
    #323a43 50%,      /* cinza médio */
    #000000 80%       /* volta para preto */
  );
  background-size: 300% 300%;
  animation: gradientShift 12s ease-in-out infinite;
}

@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



/* Acessibilidade: reduz o movimento quando o usuário prefere menos animação */
@media (prefers-reduced-motion: reduce) {
  .moving-gradient {
    animation: none;
    background-position: 50% 50%;
  }
}





#square-1 i {
   background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 0.5s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;

  font-size: 3rem;
}


.destaks-span {
  font-size: 1.5rem;
  font-weight: bold;
}

.destaks-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

#destaks-span-gold {
  font-size: 1.5rem;
}

#square-2 {
  background: linear-gradient(120deg,
    #000000 0%,       /* preto puro */
    #2e353d 30%,      /* cinza escuro */
    #323a43 50%,      /* cinza médio */
    #000000 80%       /* volta para preto */
  );
  background-size: 300% 300%;
  animation: gradientShift 12s ease-in-out infinite;
}

#gavel-icon {
  font-size: 3rem;
    background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 0.5s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;

  font-size: 3rem;
}



#square-3 {
  padding: 0 100px;
  background: linear-gradient(120deg,
    #000000 0%,       /* preto puro */
    #2e353d 30%,      /* cinza escuro */
    #323a43 50%,      /* cinza médio */
    #000000 80%       /* volta para preto */
  );
  background-size: 300% 300%;
  animation: gradientShift 12s ease-in-out infinite;
}

#square-3 i {
    background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 0.5s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;

  font-size: 3rem;
}

.divider {
  border: none;
  border-top: 3px solid #c8b050;
  border-radius: 20px;
  margin: 10px 0;
  width: 100%;
}

#divider-white {
  border: none;
  border-top: 3px solid #c8b050;
  border-radius: 20px;
  margin: 10px 0;
  width: 100%;
}

.welcome-container {
  width: 100%;
  height: 110vh;
}

.signature-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.signature-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.signature-text {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  padding: 0 10px;
  margin-bottom: 90px;
}

.signature-title {
  width: 100%;
}

.signature-title h1 {
  font-size: 2.5rem;
   background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
}

.signature-text h5 {
  font-weight: 300;
  letter-spacing: 3px;
  transition: ease 3s;
}

.signature-text span {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.signature-text p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.signature-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.botao-form {
  color: var(--claro);
  background: linear-gradient(90deg, #c39a58, #fff3d5, #c39a58);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  width: 17rem;
  height: 45px;
  transition: all 0.5 ease;
  margin-top: 20px;
}

.botao-form:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(212, 175, 55, 0.2);
  color: white;
}



.signature-button-container img {
  width: 100%;
  height: auto;
}

@keyframes zoomSuave {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.attorney-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
}

.attorney-img {
  margin-left: 50px;
}

.our-services-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(120deg,
    #000000 0%,       /* preto puro */
    #2e353d 30%,      /* cinza escuro */
    #323a43 50%,      /* cinza médio */
    #000000 80%       /* volta para preto */
  );
  background-size: 300% 300%;
  animation: gradientShift 12s ease-in-out infinite;
  display: flex;
  flex-direction: column;
}

.our-services-title {
  height: 30%;
  width: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-services-title h2 {
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #fff;
}

.our-services-title h1 {
  margin: 0;
  font-size: 3.5rem;
   background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
}


.our-services-content {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 120px;
  margin-top: 30px;
}

#our-services-divider {
  width: 15%;
   background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
}
  


.our-services-square {
  display: flex;
  width: 100%;
  height: 200px;
}

.our-services-icon {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.our-services-text {
  width: 85%;
  height: 100%;
  padding: 20px 40px 0 10px;
}

#service-icon {
   background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
  font-size: 3rem;
}


#service-icon:hover {
  color: #fff;
  cursor: pointer;
  transition: 1.2s;
}

.services-title {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.services-title:hover {
   background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
  cursor: pointer;
  transition: 1.2s;
}


.service-description {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.testimonials-container {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
}

.testimonials-title {
  height: 30%;
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials-title h2 {
  color: #5c6f85;
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 6px;
  font-weight: 500;
}

.testimonials-title h1 {
  margin: 0;
  font-size: 3.5rem;
  background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
  cursor: pointer;
  transition: 1.2s;
}

.testimonials-cards-container {
  row-gap: 30px;
  column-gap: 50px;
  width: 50%;
  height: 600px;
  padding: 0 120px;
  position: relative;
  margin: auto;
  overflow: hidden;
}


.cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 10px 40px 40px 40px;
  background-color: #f8f8f9;
  box-shadow: -1px 5px 7px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 1s;
  border-radius: 20px;
  display: none;
  text-align: center;

}

.testimonial-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente (se tiver altura definida) */
  margin: auto;
  margin-top: 70px;    

}

#testimony-icon {
  font-size: 3rem;
  background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
  cursor: pointer;
  transition: 1.2s;
  opacity: 0, 5;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.3);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}



.testimony {
  text-align: center;
  color: #5c6f85;
  font-size: 1.2rem;
  font-style: italic;
  font-family: "Poppins", sans-serif;
   margin: 20px 0;       /* Espaço acima e abaixo do texto do depoimento */
  line-height: 1.6;     /* Altura da linha para facilitar a leitura */
}




.testimonial-name {
  font-size: 1, 5rem;
  color: #2e353d;
  margin-top: 15px;
}

.testimonial-profession {
  font-size: 1, 3rem;
   background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
  cursor: pointer;
  transition: 1.2s;
  font-family: "Poppins", sans-serif;
  display: block;       /* Garante que fique em uma nova linha */
  margin-top: 5px;  
}

#testimonial-1 {
  background-image: url(./assets/testimonials01.jpg);
}

#testimonial-2 {
  background-image: url(./assets/testimonials02.jpg);
}

#testimonial-3 {
  background-image: url(./assets/testimonials03.jpg);
}

.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.form-img {
  background-image: url(./assets/banner1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  width: 50%;
  height: 100%;
}

.form-content {
  background: linear-gradient(120deg,
    #000000 0%,       /* preto puro */
    #2e353d 30%,      /* cinza escuro */
    #323a43 50%,      /* cinza médio */
    #000000 80%       /* volta para preto */
  );
  background-size: 300% 300%;
  animation: gradientShift 12s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  padding: 11px 30px;
  width: 100%;
  width: 50%;
  height: 100%;
  padding: 120px 80px 60px 80px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.form-title {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-title h2 {
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #fff;
}

.form-title h1 {
  margin: 0;
  font-size: 3.5rem;
  background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
  cursor: pointer;
  transition: 1.2s;
  display: block;       /* Garante que fique em uma nova linha */
  margin-top: 5px;  
}


#form-divider {
  width: 15%;
  margin-top: 20px;
}

.form-description {
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.form-inputs {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.first-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 49%;
  background-color: #fff;
}

.user-input {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1, 1rem;
  color: #2e353d;
  padding: 0 10px;
  border: none;
  outline: none;
}

#user-name-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-icon {
  color: #5c6f85;
  margin-left: 10px;
}

#email-icon {
  color: #5c6f85;
  margin-left: 10px;
}

#user-phone-input {
  margin-top: 10px;
  width: 100%;
}

#phone-icon {
  color: #5c6f85;
  margin-left: 10px;
}

#user-message-input {
  width: 97%;
  height: 200px;
  margin-top: 10px;
}

#user-message {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  resize: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #2e353d;
  padding: 10px;
  border: none;
  outline: none;
}

#pencil-icon {
  color: #5c6f85;
  margin-top: -155px;
  margin-left: 35px;
}

.submit-button {
  width: 175px;
  height: 60px;
  color: #2e353d;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: 2px solid #cdba6d;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 60px;
  background-color: rgba(205, 186, 109, 0.6);
  transition: all 0.5s;
  transform: translate(0, 0);
  border-radius: 80px;
}

.submit-button:hover {
  background-color: transparent;
  color: #fff;
}

footer {
  width: 100%;
  height: 80vh;
    background: linear-gradient(120deg,
    #000000 0%,       /* preto puro */
    #2e353d 30%,      /* cinza escuro */
    #323a43 50%,      /* cinza médio */
    #000000 80%       /* volta para preto */
  );
  background-size: 300% 300%;
  animation: gradientShift 12s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  padding: 11px 30px;
  width: 100%;
  padding: 220px 140px 80px 140px;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navegacao {
  top: 0;
  position: fixed;
  background-color: rgba(11, 11, 11, 0.8);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}

.menu {
  display: flex;
  list-style: none;
  gap: 3rem;
  justify-content: center;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.menu-link::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  transition: width 0.45s ease;
}

.menu-link:hover::after {
  width: 100%;
}




.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;       /* Centraliza horizontalmente */
  justify-content: flex-start; /* antes era center */
  padding: 40px 20px 20px;     /* reduzi o padding para subir o conteúdo */
  gap: 25px;                   /* espaço entre título, texto e ícones */
  min-height: 60vh;    /* Centraliza verticalmente */
      /* Centraliza o texto */       /* Espaço interno */    
}

.about-text h2 {
   background: linear-gradient(
    90deg,
    #c39a58,
    #fff3d5,
    #c39a58
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: brilho-dourado 3s linear infinite;
  font-size: 4rem;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 0;

}

.footer-content {
  display: flex;
  justify-content: center;    /* Centraliza horizontalmente */
  margin-top: 10px;

}

.about-text p {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;          /* um pouco menor para melhor leitura */
  font-weight: 500;
  color: #fff;
  line-height: 2;
  max-width: 900px;    
}

.social-media {
  display: flex;
  justify-content: center;    /* Centraliza os ícones */
  gap: 25px;    
}

.social-media i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;

}

#facebook-icon:hover {
  color: #007bff;
  transition: 1.1s;
}

#telegram-icon:hover {
  color: #17a2b8;
  transition: 1.1s;
}

#linkedin-icon:hover {
  color: #007bff;
  transition: 1.1s;
}

#instagram-icon:hover {
  color: #007bff;
  transition: 1.1s;
}

#youtube-icon:hover {
  color: #dc3545;
  transition: 1.1s;
}

.theme-posts {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.theme-posts h2 {
  color: #c8b050;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 700;
  margin-bottom: 40px;
}

.posts {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  display: flex;
}

.post-img {
  width: 20%;
  height: auto;
}

.post-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 80px 0 10px;
}

.post-content p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

.post-content p:hover {
  color: #c8b050;
}

.post-date {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 15px;
}

#clock-icon {
  color: #c8b050;
}

.post-date span {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

.copyright {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright span {
  font-family: "Poppins", sans-serif;
  letter-spacing: 6px;
  color: #2e353d;
  font-size: 0.9rem;
}

.visible {
  position: relative;
}

.background-rgba {
  width: 100%;
  height: 80vh;
  position: absolute;
  opacity: 0.7;
  background-color: #323a43;
}
.client-numbers {
  background-position: 50% 10%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0; /* fica no fundo */
}

.special-heading {
  line-height: 1.15;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  z-index: 2;
}

.title-numbers {
  height: 20%;
  width: 100%;
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.advantages-text {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 400;
  color: #fff;

}

.choose-us {
  font-size: 3.5rem;
  font-weight: 500;
  z-index: 2;
   background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
  cursor: pointer;
  transition: 1.2s;
  opacity: 0, 5;
}

#number-divider {
  margin-left: 40px;
  width: 80%;
  margin-top: 30px;
  border-top: 2px solid #c8b050;
}

.space-divider-space {
  clear: both;
  width: 100%;
}

.trust-number-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 120px;
  position: relative;
  justify-content: space-around;
}

#trust-text-divider {
  width: 2px;
  height: 150px;
  margin-top: 100px;
  background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

}

.counter-text {
  color: #fff;
}

.text-trust-client {
  color: #f8f8f9 margin 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.number-trust-client {
   background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
  cursor: pointer;
  transition: 1.2s;
  opacity: 0, 5;
  font-weight: 300;
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: 0.25em;
  text-align: center;
 
}






.our-attorneys {
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.attorney-text {
  height: 30%;
  width: 100%;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lawyer-text {
  color: #5c6f85;
  font-size: 1rem;
  letter-spacing: 3px;
}

.divider-lg-60 {
  margin-top: 60px;
}

.imgs-attorneys {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

#attorney-1 {
  background-image: url(./assets/team01-1.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#attorney-2 {
  background-image: url(./assets/team06.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#attorney-3 {
  background-image: url(./assets/team04.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.img-attorney {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  padding: 10px 40px 40px 40px;
  cursor: pointer;
}

.attorney-name {
  background: linear-gradient(120deg,
    #000000 0%,       /* preto puro */
    #2e353d 30%,      /* cinza escuro */
    #323a43 50%,      /* cinza médio */
    #000000 80%       /* volta para preto */
  );
  background-size: 300% 300%;
  animation: gradientShift 12s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  padding: 11px 30px;
  width: 100%;
  margin-top: 600px;
  height: 60px;
  
}

.name-lawyer {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-lawyer:hover {
  transition: 1s;
     background: linear-gradient(
    90deg,
    /* Direção do gradiente */ #c39a58,
    /* Tom dourado mais escuro */ #fff3d5,
    /* Tom de brilho claro (quase branco) */ #c39a58
      /* Repete o tom escuro para um loop suave */
      
  );
  transition: ease 3s;

  /* 2. Faz o fundo ser 2x maior que o texto para ter espaço para se mover */
  background-size: 200% auto;

  /* 3. Recorta o fundo para aparecer apenas onde há texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 4. Deixa a cor do texto transparente para que o fundo apareça */
  /* Para navegadores mais antigos e WebKit */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Para navegadores modernos */

  /* 5. Aplica a animação */
  animation: brilho-dourado 3s linear infinite;
  cursor: pointer;
  transition: 1.2s;
  opacity: 0, 5;
  font-weight: 300;
  margin-bottom: 0.25em;
  text-align: center;
 
}


.blog-news {
  height: 150vh;
}

.blog-news-container {
  padding: 115px 15px 150px;
}

.blog-news-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
}

.blog-text {
  height: 30%;
  width: 100%;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#our-blog-news {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#blog-divider {
  margin-left: 130px;
  width: 25%;
  margin-top: 30px;
  border-top: 2px solid #c8b050;
}

.imgs-text-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  margin-left: 200px;
}

.img-blog-text {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: 800px;
}

.img-judge {
  background-image: url(./assets/banner2.jpg);
  background-size: cover;
  background-position: center;
}

.container-blog-span {
  width: 100%;
  height: 330px;
}

.container-blog-span:hover {
  background-color: #323a43;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

.comments-blog {
  background-color: #c8b050;
  color: #323a43;
  padding: 3px 9px;
  font-family: "Poppins", sans-serif;
  margin-left: 30px;
  position: relative;
  top: 30px;
}

.complete-text {
  padding: 50px 65px 0;
}

.entry-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.title-blog {
  font-size: 1.3rem;
  color: #323a43;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 1.5;
}

.title-blog:hover {
  color: #c8b050;
  transition: 0.6s;
  cursor: pointer;
}

.sub-title-blog {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sub-title-blog:hover {
  cursor: pointer;
  color: #c8b050;
  transition: 0.5;
}

.emma {
  font-family: "Poppins", sans-serif;
  color: #5c6f85;
  font-size: 16px;
  font-weight: 300;
}

.emma:hover {
  cursor: pointer;
  color: #c8b050;
  transition: 0.5s;
}

#emma-divider {
  height: 18px;
  background-color: #5c6f85;
  width: 2px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3px;
  border: none;
  opacity: 0.8;
}

.blog-date {
  font-family: "Playfair Display", serif;
  color: #5c6f85;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}

.blog-date:hover {
  cursor: pointer;
  color: #c8b050;
  transition: 0.5s;
}

.blog-paragraph {
  margin-top: 1rem;
}

.paragraph-blog-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #5c6f85;
  text-align: left;
  letter-spacing: 0px;
  line-height: 30px;
}

.view-details {
  margin-top: 65px;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: relative;
  color: #323a43;
  font-size: 12px;
}

.view-details:hover {
  cursor: pointer;
}

#view-divider {
  border-top: 1px solid #323a43;
  width: 9.2rem;
}

.view-blog-details:hover {
  cursor: pointer;
  color: #c8b050;
  transition: 0.5s;
}

.two-blogs-imgs {
  padding: 0 15px;
  width: 55%;
}

.img-chess-container {
  height: 50%;
}

.img-chess-media {
  background-image: url(./assets/blog02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  background-position: bottom;
}

.img-hammer-container {
  margin-top: 125px;
  height: 50%;
}

#chess-span {
  height: 100%;
}

#hammer-span {
  height: 100%;
}

.text-blog-content {
  background-color: #323a43;
  height: 40%;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.aleatory-text {
  color: white;
  font-size: 20px;
}

.aleatory-text:hover {
  cursor: pointer;
  color: #c8b050;
  transition: 0.5s;
}

#change-color {
  color: #fff;
}

.change-color {
  height: 18px;
  background-color: #fff;
  width: 2px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3px;
  border: none;
}

#chess-date {
  margin-top: 20px;
}

.img-hammer-media {
  background-image: url(./assets/blog09-970x600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  background-position: bottom;
}

@media (max-width: 1800px) {
  .two-blogs-imgs {
    width: 70%;
  }

  .text-blog-content {
    padding: 0;
    padding-left: 5px;
  }

  #chess-date {
    margin-top: 30px;
  }

  .submit-button {
    margin-top: 10px;
  }

}

@media (max-width: 1440px) {
  .content {
    padding: 0 90px;
  }

  #square-3 {
    padding: 0 60px;
  }

  .testimonials-cards-container {
    padding: 0 100px;
  }

  .post-content {
    padding: 0 55px 0 10px;
  }

  #user-message-input {
    width: 96%;
  }

  .two-blogs-imgs {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  header {
    padding: 0 40px;
  }

  .destaks-container {
    padding: 0 60px;
  }

  .testimonials-cards-container {
    padding: 0 130px;
  }

  #user-message-input {
    width: 95%;
  }


  .imgs-text-blogs {
    margin-left: 80px;
  }
}

@media (max-height: 800px) {
  .presentation-container {
    margin-top: 150px;
  }
}

@media (max-width: 1024px) {
  .destaks-container {
    padding: 0 20px;
    height: 200px;
  }

  .imgs-text-blogs {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .blog-news {
    height: 200vh;
  }

  #chess-date {
    margin-top: 10px;
  }

  .two-blogs-imgs {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }

  .img-chess-container {
    margin-top: 50px;
    height: 300px;
    width: 400px;
  }

  .img-chess-media {
    height: 100%;
  }

  .img-hammer-container {
    margin-top: 50px;
    height: 300px;
    width: 400px;
  }

  .img-hammer-media {
    height: 100%;
  }

  .destaks-paragraph {
    font-size: 15px;
  }

  .presentation-container {
    margin-top: 150px;
  }

  .content {
    row-gap: 10px;
  }

  h5 {
    font-size: 1rem;
  }

  .presentation-container h1 {
    font-size: 4rem;
  }

  .presentation-container p {
    font-size: 1rem;
  }

  .presentation-container button {
    margin-top: 150px;
  }

  .our-services-content {
    padding: 0 40px;
  }

  .content {
    padding: 0 60px;
  }

  .signature-text {
    width: 80%;
    font-size: 0.8rem;
  }

  .signature-title h1 {
    margin-top: 10px;
  }



  .form-content {
    padding: 120px 20px 60px 20px;
    height: 100%;
    justify-content: center;
  }

  .form-title h2 {
    margin-top: 50px;
  }

  .form-title h1 {
    font-size: 2.5rem;
    margin-top: 5px;
  }

  .form-description {
    font-size: 16px;
    margin-top: 50px;
  }

  .form-inputs {
    justify-content: flex-start;
  }

  .form-img {
    height: 680px;
    height: 100%;
  }

  #user-message-input {
    width: 95%;
  }

  .submit-button {
    margin-top: 10px;
  }


  .theme-posts {
    width: 50%;
    margin-top: 50px;
  }

  .about-text {
    margin-top: 50px;
    row-gap: 40px;
  }

  .trust-number-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 80px;
    position: relative;
    justify-content: space-between;
  }
  
  .testimonials-cards-container {
    width: 100%;
  }

  #card-3 {
    display: none;
  }

.cards {
  width: 100%;
}

  .attorney-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .imgs-attorneys {
    grid-template-columns: repeat(2, 1fr);
  }

  .img-attorney {
    height: 700px;
    background-size: cover;
    padding: 10px 0px 10px 10px;
  }

  .our-attorneys {
    height: 130vh;
  }

  .attorney-text {
    padding-top: 130px;
  }
}

@media (max-width: 915px) {
  nav {
    display: none;
  }

  .img-hammer-container {
    width: 300px;
  }

  .imgs-text-blogs {
    margin-left: 30px;
  }

  .blog-news {
    height: 130vh;
  }

  .img-chess-container {
    width: 300px;
  }

  #menu-icon {
    display: block;
  }

  .home-container {
    background-position: 70% 50%;
    align-items: center;
  }

  .presentation-container {
    width: 90%;
    margin-top: 0;
  }

  .destaks-container {
    padding: 0 40px;
    top: 135vh;
  }

  .destaks-content {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }

  .content {
    height: 200px;
    row-gap: 10px;
    padding: 0 20px;
    border-radius: 10px;
  }

  .welcome-container {
    height: 130vh;
  }

  .signature-text {
    width: 95%;
    height: 30%;
    row-gap: 30px;
    padding: 0 10px;
  }

  .attorney-img {
    margin-left: 10px;
    width: 90%;
  }

  .our-services-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials-container {
    height: 85vh;
  }

 


  .form-container {
    flex-direction: column;
  }

  .form-img {
    height: 40%;
    width: 100%;
  }

  .form-content {
    width: 100%;
    height: 60%;
    padding: 120px 40px 60px 40px;
    row-gap: 30px;
  }

  #user-message-input {
    width: 97%;
  }

  footer {
    padding: 100px 40px 0 40px;
    height: 90vh;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
  }

  .about-text {
    width: 100%;
    height: 40%;
  }

  .theme-posts {
    width: 100%;
    height: 45%;
  }

  .post-content {
    padding: 0 140px 0 10px;
  }

  .trust-number-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: 100%;
    padding-top: 0px;
    position: relative;
  }

  .number-trust-client {
    margin-top: 10px;
  }

  .text-trust-client {
    color: #f8f8f9;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 400;
  }

  #trust-text-divider {
    display: none;
  }

  .client-numbers {
    background-position: 65% 50%;
  }

  .title-numbers {
    padding-top: 30px;
  }

  .our-attorneys {
    height: 125vh;
  }
}

@media (max-width: 855px) {

  .copyright {
    background-color: #000;
  }

  .presentation-container buton {
    margin-top: 150px;
  }

  .colorchange {
    color: white;
  }

  footer {
    display: none;
  }

  .footer-content {display: none;}

  nav {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  .home-container {
    background-position: 70% 50%;
    align-items: center;
  }

  .presentation-container {
    width: 90%;
    margin-top: 0;
  }

  .destaks-container {
    padding: 0 40px;
    top: 135vh;
  }

  .destaks-content {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }

  .content {
    height: 200px;
    row-gap: 10px;
    padding: 0 20px;
    border-radius: 10px;
  }

  .welcome-container {
    height: 130vh;
  }

  .signature-text {
    width: 95%;
    height: 30%;
    row-gap: 30px;
    padding: 0 10px;
  }

  .attorney-img {
    margin-left: 10px;
    width: 90%;
  }

  .our-services-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials-container {
    height: 85vh;
  }



  .form-container {
    flex-direction: column;
  }

  .form-img {
    height: 40%;
    width: 100%;
  }

  .form-content {
    width: 100%;
    height: 60%;
    padding: 120px 40px 60px 40px;
    row-gap: 30px;
  }

  #user-message-input {
    width: 97%;
  }


  .footer-content {
    flex-direction: column;
    justify-content: center;
  }

  .about-text {
    width: 100%;
    height: 40%;
  }

  .theme-posts {
    width: 100%;
    height: 45%;
  }

  .post-content {
    padding: 0 140px 0 10px;
  }

  .two-blogs-imgs {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {

  .logo {
    display: none;
  }

    .navegacao {
    display: flex;
    justify-content: flex-end; /* Alinha o ícone à direita */
    align-items: center;
    padding: 1rem;
  }

  /* Esconde o menu de links original */
  .menu {
    display: none; /* O menu de links some */

    /* Estilo para quando o menu for aberto */
    position: absolute;
    top: 100%; /* Aparece logo abaixo da barra de navegação */
    left: 0;
    width: 100%;
    background-color: rgba(11, 11, 11, 0.95); /* Fundo um pouco mais sólido */
    flex-direction: column; /* Organiza os links verticalmente */
    text-align: center;
    gap: 0;
  }

  /* Estilo dos links dentro do menu mobile */
  .menu li {
    width: 100%;
    border-top: 1px solid var(--vidro);
  }

  .menu li a {
    padding: 1.5rem 0;
    display: block; /* Faz o link ocupar toda a largura */
  }

  /* Classe que o JavaScript vai adicionar para MOSTRAR o menu */
  .menu.active {
    display: flex; /* O menu reaparece quando a classe 'active' é adicionada */
  }

  /* Mostra o botão do menu (ícone hambúrguer) */
  .mobile-menu-icon {
    display: block; /* O botão aparece */
    background: none;
    border: none;
    color: var(--claro);
    font-size: 2rem; /* Tamanho do ícone */
    cursor: pointer;
  }
  .welcome-container {
    height: 150vh;
  }

  .form-content {
    height: 70%;
  }

  .blog-news {
    height: 160vh;
  }

  .our-attorneys {
    height: 150vh;
  }

  .number-trust-client {
    margin-top: 0;
  }

  .title-numbers {
    padding-top: 100px;
  }

  .attorney-img {
    margin-left: 0;
  }


  .testimonials-container {
    height: 100vh;
  }

  .attorney-container {
    width: 55%;
  }

  .signature-content {
    width: 45%;
  }

}

@media (max-width: 600px) {
  .welcome-container {
    height: 240vh;
  }

  .form-container {
    height: 130vh;
  }

  .title-numbers {
    padding-top: 70px;
  }

  .two-blogs-imgs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 500px;
    margin-left: 130px;
  }

  .img-hammer-container {
    margin-top: 200px;
  }

  .blog-news {
    height: 270vh;
  }

  .img-blog-text {
    width: 600px;
  }

  .signature-container {
    flex-direction: column;
    justify-content: end;
  }

  .signature-content {
    width: 95%;
    height: 25%;
    justify-content: end;
  }

  .attorney-container {
    width: 95%;
    height: 30%;
    justify-content: center;
  }


  .our-services-content {
    padding: 0 10px 0 20px;
  }

  .our-services-text {
    width: 95%;
    padding: 20px 10px 0 10px;
  }



  #user-message-input {
    width: 95%;
  }



 
}

@media (max-width: 430px) {
  header {
    padding: 0 10px;
  }

  .img-blog-text {
    width: 415px;
    margin-left: 20px;
  }

  .two-blogs-imgs {
    margin-left: 50px;
  }

  .blog-news {
    height: 270vh;
  }

  .attorney-name {
    width: 73%;
  }

  #number-divider {
    width: 30%;
    margin-left: 70px;
  }

  .title-numbers {
    padding-top: 50px;
  }

  .home-container {
    background-position: 70% 50%;
    display: flex;
    justify-content: center;
  }

  .presentation-container {
    width: 100%;
    height: 60%;
  }

  .presentation-container h3 {
    text-align: center;
  }

  .presentation-container h1 {
    font-size: 3rem;
  }

  .destaks-container {
    padding: 0 10px;
  }

  .welcome-container {
    height: 1650px;
    align-items: end;
  }

  .signature-content {
    height: 600px;
  }

  .signature-text {
    width: 95%;
    height: 90%;
    row-gap: 10px;
    margin-bottom: 10px;
  }
  .attorney-container {
    height: 400px;
  }

  .attorney-img {
    margin-left: 10px;
    width: 90%;
    height: 390px;
  }

  .our-services-container {
    height: 1550px;
  }

  .our-services-title {
    margin-top: 120px;
    padding-top: 20px;
    height: 15%;
  }

  .our-services-title h1 {
    text-align: center;
  }

  #our-services-divider {
    width: 30%;
  }

  .our-services-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials-container {
    height: 130vh;
  }

  .testimonials-cards-container {
    padding: 0 5px;
  }

  .testimonials-title h1 {
    font-size: 2.5rem;
  }

  .cards {
    margin-bottom: 20px;
  }

  

  .form-container {
    height: 200vh;
  }

  .form-content {
    padding: 120px 10px 60px 10px;
  }

  .form-title h2 {
    font-size: 1rem;
  }

  .form-title h1 {
    font-size: 2rem;
  }

  footer {
    padding: 50px 10px 0 10px;
    height: 150vh;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-text {
    width: 100%;
    height: 40%;
    row-gap: 20px;
  }

  .theme-posts {
    width: 100%;
    height: 45%;
  }

  .post-content {
    padding: 0 10px;
  }

  #user-message-input {
    width: 94%;
  }

  .background-rgba {
    height: 100vh;
  }
  .client-numbers {
    height: 100vh;
  }

  .trust-number-container {
    padding: 0 0 0 0;
  }

  .choose-us {
    font-weight: 300;
    font-size: 2rem;
  }
}

@media (max-width: 414px) {
 
  #our-blog-news {
    font-size: 2.5rem;
  }

  .img-blog-text {
    margin-left: 0;
  }

  .blog-news {
    height: 350vh;
  }

  .our-attorneys {
    height: 140vh;
  }

  #user-message-input {
    width: 94%;
  }

  .trust-number-container {
    height: auto;
    padding: 0 0 0 0;
  }
}

@media (max-width: 390px) {


  #user-message-input {
    width: 93%;
  }
}

@media (max-width: 375px) {

  .blog-news {
    height: 360vh;
  }

  .our-attorneys {
    height: 140vh;
  }

  #user-message-input {
    width: 93%;
  }

  .choose-us {
    font-size: 2.5rem;
  }

  #number-divider {
    margin-left: 100px;
  }
}

@media (max-width: 360px) {
  #our-blog-news {
    font-size: 2rem;
  }
}

@media (max-width: 344px) {


  #user-message-input {
    width: 92%;
  }
}

@media (max-height: 670px) {
 }

  #number-none {
    display: none;
  }

  .our-attorneys {
    height: 155vh;
  }

